
.strategyBuilder{
    height:75vh;
    /*width:50vw;*/
    background-color:rgb(110, 110, 116);
    display:grid;
}
.conditionSets{
    display:grid; 
    position: relative;
    border-radius: 2px;
    background-color:rgb(3, 1, 18);
    font-size:12px;
   /*  direction: rtl;*/
   
    /*overflow: auto;*/
    align-items:center;
    justify-content: center;
  grid-auto-flow: column;
  column-gap: 1vw;
    width:100%;
    height:30vh;
    float:left;
}